POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=


HTTP_ADDR=
HTTP_SHUTDOWN_TIMEOUT=

LOGGER_LEVEL=

MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=
MINIO_SECURE=

WS_ALLOWED_ORIGINS=http://localhost:3000
WS_READ_LIMIT=4096
WS_WRITE_WAIT=10s
WS_PONG_WAIT=60s
WS_PING_PERIOD=54s
WS_SEND_BUFFER_SIZE=64
WS_AUTH_WAIT=10s