POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=


HTTP_ADDR=
HTTP_SHUTDOWN_TIMEOUT=

LOGGER_LEVEL=

MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=
MINIO_SECURE=

WS_ALLOWED_ORIGINS=
WS_READ_LIMIT=
WS_WRITE_WAIT=
WS_PONG_WAIT=
WS_PING_PERIOD=
WS_SEND_BUFFER_SIZE=
WS_AUTH_WAIT=